
.title{
  font-weight: bold;
  font-size: 45px;
  text-align: center;

}
.btn{
  color: white;
  background-color: #0D1321;
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400px;
  margin: 0px 310px;
}
nav{
  padding: 54px 162px 17px 280px;
  width: 800px;
  height: 600px;
 align-items: center;
 margin: auto;
  background-image: url(assets/Hero-bg.png);
}
.img{
  text-align: center;
  padding: 30px 50px;
}
.para{
  text-align: center;
  font-size: 16px;
}
.hi{
  margin: auto;
text-align: center;
border-radius: 12px;
height: 50px;
width: 600px;
padding: 20px 50px 180px 50px;
background-image: url(assets/handshake.jpg);
color: white;


}
.hlw{
  text-align: center;
}
.video{
  padding-left: 17%;
  border-radius: 16px;
}
.why{
  margin: 20px 150px;
}
.banner{
  justify-content: space-evenly;
display: flex;
padding: 30px 20px;
gap 60px;
}
.html{
  background-color:rgb(241, 209, 209);
  gap: 5px;
}
.css{
  background-color: #e5e9f1;
  
}
.js{
  background-color: #dbdad0;
}
input{
  width: 450px;
  height: 17px;
  border-radius: 5px;
  margin: opx 250px;
}
.foot{
  font-weight: bold;
  text-align: left;
}
.foot a{
  gap: 40px;
}
.paragraph{
display: flex;
}
.container div{
  padding: 50px;
  margin: auto;
}
  .container .child1{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
  }
  .container .child2{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
  }
  .container .child3{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
  }
  